
<div class="modal-header">
  <h1 class="text-dark">
    <%= @category.new_record? ? 'New Journal' : "Edit Journal" %>
  </h1>
  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
</div>

<%= simple_form_for @category, remote: true do |f| %>
<div class="modal-body">
  <%= f.label :name, "Title", :class => "form-label text-dark" %>
  <div class="input-group mb-3">
    <%= f.input_field :name, :class => "form-control" %>
  </div>
  <%= f.label :description, "Description", :class => "form-label text-dark" %>
  <div class="input-group mb-3">
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <% if flash[:messages] %>
    <p class = "text-danger"><%= flash[:messages] %></p> <br>
  <% end %>
</div>
<div class="modal-footer">
  <%= f.submit "Add", :class => 'btn btn-primary' %>
</div>
<% end %>
