<p id="notice"><%= notice %></p>

<h1 class="text-center">My Journal</h1>

<% @categories.each do |category| %>
  <div class="card w-75 bg-secondary mx-auto mt-5">
    <div class="card-body">
      <h5 class="card-title"><%= category.name %></h5>
      <p class="card-text"><%= category.description %></p>
    </div>
  </div>
<% end %>
    <%# <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead> %>



  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= category.user_id %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category), remote: true  %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class="btn btn-info btn-circle btn-xl">
  <%= link_to new_category_path, :class => 'btn-create', "data-bs-toggle" => "modal", "data-bs-target" => "#exampleModal", :remote => true do %>
    <i class="fas fa-pencil-alt text-white"></i>
  <% end %>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div>
  </div>
</div>
<%# <%= link_to 'New Category', new_category_path %>
