<header class="pt-3 pb-2 mb-5 border-bottom border-dark w-75 mx-auto">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <h2><%= link_to "Keeps", "/", class: "text-warning" %></h2>

    <div class="d-flex align-items-center">
      <div class="w-100 me-3"></div>
      <% if user_signed_in? %>
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-warning text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZV0AOphbJ2KjfECnFd4NM6HAjvv5kx8WDldUP4TgbKjd1UGMJIpL2TUIDia7lpWDxQNI&usqp=CAU" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
            <li><%= link_to 'New Journal', new_category_path, :class => 'dropdown-item', "data-bs-toggle" => "modal", "data-bs-target" => "#exampleModal", :remote => true %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </div>
      <% else %>
        <div class="w-100 text-end">
          <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-sm btn-warning' %>
        </div>
      <% end %>
      </div>
  </div>
</header>